div {
            /* border: 2px solid; */
        }

        html,
        body {
            width: 100vw;
            height: 100vh;
        }

        .main {
            border: 1px solid;
            width: 1000px;
            height: 1000px;
            margin: 10px;
            overflow: auto;
        }

        .title {
            height: 10%
        }

        .char {
            height: 200px;
            display: flex;
            margin: 10px;
            padding:10px;
        }

        .fightSection {
            height: 500px
        }

        .combatLog {
            height: 70%;
        }

        .characterBox {
            height: 150px;
            width: 150px;
            text-align: center;
            margin 3px;
            display:inline;
        }

        .char-img {
            margin: 0 25px 0 25px;
            border: none;
        }

        button {
            padding: 3px;
        }